<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<link rel="stylesheet" href="/css/form.css"/>
	<title>Elenco Buffet</title>
</head>
<body>
	<div class="Data-Form">
	
		<h2>Elenco buffet:</h2>
		
		<ul>
			<li th:each="buffet : ${buffetList}">
			<span th:text="${buffet.chef.cognome} + ' - ' + ${buffet.nome}" >Barbieri - Buffet di dolci</span>
				
				<tbody>
        <tr th:each="piatto : ${buffet.piatti}">
            <td><span th:text="${piatto.nome} + ' - '"> Nome del piatto</span></td>
            <td><span th:text="${piatto.descrizione}"> Descrizione del piatto </span></td>
        </tr>
    </tbody>
				<a href="buffet.html" th:href="@{'/buffet' + '/' + ${buffet.id}}">Dettagli</a>
				<a href="editBuffet.html" th:href="@{'/editBuffet' + '/' + ${buffet.id}}">Modifica</a>
				<a href="toDeleteBuffet.html" th:href="@{'/toDeleteBuffet' + '/' + ${buffet.id}}">Cancella</a></li>
			</ul>
			<footer>
	<a href="/">Home</a>
	</footer>
	</div>
	
</body>
</html>