<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<link rel="stylesheet" href="/css/form.css"/>
	<title>Elenco Buffet</title>
</head>
<body>
	<div class="Data-Form">
	
		<h2>Elenco buffet:</h2>
		
		<!-- DEFAULT -->
			<div sec:authorize="hasAuthority('DEFAULT')">
			<ul>
			<li th:each="buffet : ${buffetList}">
			<div class="flex-container"><span th:text="${buffet.chef.nome} + ' ' + ${buffet.chef.cognome} + ' - ' + ${buffet.nome}" >Barbieri - Buffet di dolci</span></div>
				
				<a href="buffet.html" th:href="@{'/buffet' + '/' + ${buffet.id}}">Dettagli</a>
			</ul>
		
			<!-- End new stuff-->
			
			<footer>
	<a href="/">Home</a>
	</footer>
	</div>
	
	
	<!-- ADMIN -->
			<div sec:authorize="hasAuthority('ADMIN')">
			<ul>
			<li th:each="buffet : ${buffetList}">
			<div class="flex-container"><span th:text="${buffet.chef.nome} + ' ' + ${buffet.chef.cognome} + ' - ' + ${buffet.nome}" >Barbieri - Buffet di dolci</span></div>
				
				<a href="buffet.html" th:href="@{'/buffet' + '/' + ${buffet.id}}">Dettagli</a>
				<a href="editBuffet.html" th:href="@{'/editBuffet' + '/' + ${buffet.id}}">Modifica</a>
				<a href="toDeleteBuffet.html" th:href="@{'/toDeleteBuffet' + '/' + ${buffet.id}}">Cancella</a></li>
			</ul>
		
			<!-- End new stuff-->
			
			<footer>
	<a href="/">Home</a>
	</footer>
	</div>
	</div>
	
	
</body>
</html>