<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<link rel="stylesheet" href="/css/form.css"/>
	<title>Dettagli buffet</title>
</head>
<body>
	<div class="Data-Form">
	<h4>Dettagli buffet</h4>
	<span th:text="${buffet.chef.nome}">Bruno</span>
	<span th:text="${buffet.chef.cognome}">Barbieri</span>
	<span th:text="${buffet.nome}">Buffet di dolci</span>
	<span th:text="${buffet.descrizione}">Torte fredde, dolci al cucchiaio, frutta</span>
	<tbody>
		
        <tr th:each="piatto : ${piatti}">
            <td><span th:text="${piatto.nome}"> Nome</span></td>
            <td><span th:text="${piatto.descrizione}"> Descrizione</span></td>
        </tr>
    </tbody>
	<footer><a href="/">Home</a></footer>
	</div>

</body>
</html>