<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<link rel="stylesheet" href="/css/form.css"/>
	<title>Elenco degli Chef</title>
</head>
<body>
	<div class="Data-Form">
		<h2>Elenco degli Chef:</h2>
		
		<!-- DEFAULT -->
			<div sec:authorize="hasAuthority('DEFAULT')">
		<ul>
			<li th:each="chef: ${chefs}">
			<div class="flex-container">
			<span th:text="'Nome: ' + ${chef.nome} + ' ' + ${chef.cognome}" >Bruno Barbieri</span>
			
			<p><span th:text="'Nazionalità: ' + ${chef.nazionalita}">Italia</span></p>
			</div>
				<a href="chef.html" th:href="@{'/chef' + '/' + ${chef.id}}">Dettagli</a>
			</ul>
			
	<footer>
	<a href="/">Home</a>
	</footer>
	</div>
	
	
	<!-- ADMIN -->
			<div sec:authorize="hasAuthority('ADMIN')">
	<ul>
			<li th:each="chef: ${chefs}">
			<div class="flex-container">
			<span th:text="'Nome: ' + ${chef.nome} + ' ' + ${chef.cognome}" >Bruno Barbieri</span>
			
			<p><span th:text="'Nazionalità: ' + ${chef.nazionalita}">Italia</span></p>
			</div>
				<a href="chef.html" th:href="@{'/chef' + '/' + ${chef.id}}">Dettagli</a>
				<a href="editChef.html" th:href="@{'/editChef' + '/' + ${chef.id}}">Modifica</a>
				<a href="toDeleteChef.html" th:href="@{'/toDeleteChef' + '/' + ${chef.id}}">Cancella</a></li>
			</ul>
			
	<footer>
	<a href="/">Home</a>
	</footer>
	</div>
	</div>
	</div>
</body>
</html>