<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<title>Elenco degli Chef</title>
</head>
<body>
	<div>
		<h4>Elenco degli Chef:</h4>
		<ul>
			<li th:each="chef: ${chefs}">
			<span th:text="${chef.nome} + ' ' + ${chef.cognome} + ' -> ' + ${chef.nazionalita}" >Bruno Barbieri - Italiana</span>
				<a href="chef.html" th:href="@{'/chef' + '/' + ${chef.id}}">Dettagli</a>
				<a href="toDeleteChef.html" th:href="@{'/toDeleteChef' + '/' + ${chef.id}}">Cancella</a></li>
			</ul>
			
	</div>
	<footer>
	<a href="/">Home</a>
	</footer>
</body>
</html>