<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<title>Catering Service</title>
  <link rel="stylesheet" href="main.css"/>
</head>
<body>
  
  <h4>Operazioni</h4>
    <div class="flex-container">
      
	<div>
      <img src="../buffet.jpg" alt="Buffet">
		<a th:href="@{/buffetForm}">Inserisci Buffet</a>
	
		<a th:href="@{/buffet}">Visualizza Buffet</a>
	</div>
	<div>
      <img src="../Chef.jpeg" alt="Chef">
		<a th:href="@{/chefForm}">Inserisci Chef</a>
	
		<a th:href="@{/chef}">Visualizza Chefs</a>
	</div>
	<div>
       <img src="../Piatto.jpg" alt="Piatto">
		<a th:href="@{/piattoForm}">Inserisci Piatto</a>
	
		<a th:href="@{/piatto}">Visualizza Piatti</a>
	</div>
	<div>
      <img src="../Ingrediente.jpeg" alt="Ingrediente">
		<a th:href="@{/ingredienteForm}">Inserisci Ingrediente</a>
	
		<a th:href="@{/ingrediente}">Visualizza Ingredienti</a>
	</div>
</body>
</html>