<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<title>Catering Service</title>
  <link rel="stylesheet" href="/css/main.css"/>
</head>
<body>

<ul>
  <li><a class="active" th:href="@{/login}">Accedi</a></li>
  <li><a th:href="@{/register}">Registrati</a</li>
  <li><a th:href="@{/logout}">Logout</a></li>
</ul>

<!-- DEFAULT -->
	<!--<div th:unless="${role} and ${role.equals('DEFAULT')}" sec:authorize="hasAuthority('DEFAULT')">-->
    <div class="flex-container">
    <div>
<p>Benvenuto<p>
<!-- Login via Github OAuth2 -->
	    	<h3 th:if="${#authentication.getPrincipal().getClass() == 
	    			T(org.springframework.security.oauth2.core.user.DefaultOAuth2User)}"
	    		th:text="${#authentication.getPrincipal().getAttributes().login}">
	    	</h3>
	    	
<!-- Login via email and password -->
	    	<h3 th:if="${#authentication.getPrincipal().getClass() == 
	    			T(org.springframework.security.core.userdetails.User)}"
				th:text="${#authentication.getPrincipal().getUsername()}">
	    	</h3>
<div class="text-center">

		      	</div>

    </div>
	<div>
      <img src="../images/buffet.jpg" alt="Buffet">
		<a th:href="@{/buffet}">Visualizza Buffet</a>
	</div>
	<div>
      <img src="../images/Chef.jpeg" alt="Chef">
		<a th:href="@{/chef}">Visualizza Chefs</a>
	</div>
	<div>
       <img src="../images/Piatto.jpg" alt="Piatto">
		<a th:href="@{/piatto}">Visualizza Piatti</a>
	</div>
	<div>
      <img src="../images/Ingrediente.jpeg" alt="Ingrediente">
		<a th:href="@{/ingrediente}">Visualizza Ingredienti</a>
	</div>
  </div>

<!-- ADMIN -->
<div sec:authorize="hasAuthority('ADMIN')">
<div class="AdminOperation">
	<span class="AdminOperationTitle"><h1>Operazioni di amministrazione</h1></span>
    <div class="flex-container">
    <div>
    </div>
	<div>
      
		<a th:href="@{/buffetForm}">Inserisci Buffet</a>
		<a th:href="@{/buffetAdmin}">Gestisci i Buffet</a>
	</div>
	<div>
      
		<a th:href="@{/chefForm}">Inserisci Chef</a>
		<a th:href="@{/chefAdmin}">Gestisci gli Chef</a>
	</div>
	<div>
       
		<a th:href="@{/piattoForm}">Inserisci Piatto</a>
	<a th:href="@{/piattoAdmin}">Gestisci i Piatti</a>
		
	</div>
	<div>
     
		<a th:href="@{/ingredienteForm}">Inserisci Ingrediente</a>
	<a th:href="@{/ingredienteAdmin}">Gestisci gli Ingredienti</a>
		
	</div>
  </div>
</div>




</body>
</html>