<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<link rel="stylesheet" href="/css/form.css"/>
	<title>Dettagli ingrediente</title>
</head>
<body>
	<div class="Data-Form">
	<h2>Dettagli ingrediente</h2>
	
	<strong>Nome: </strong><span th:text="${ingrediente.nome}">Salsa di Pomodoro</span>
	<p>
	<strong>Origine: </strong><span th:text="${ingrediente.origine}">Italia</span>
	<p>
	<strong>Descrizione: </strong><span th:text="${ingrediente.descrizione}">Salsa di Pomodoro per condire i primi</span>
<footer><a href="/">Home</a></footer>
	</div>

</body>
</html>