<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<title>Dettagli ingrediente</title>
</head>
<body>
	<div>
	<h4>Dettagli ingrediente</h4>
	<span th:text="${ingrediente.piatto.nome}">Pasta al sugo</span>
	<span th:text="${ingrediente.nome}">Salsa di Pomodoro</span>
	<span th:text="${ingrediente.origine}">Italia</span>
	<span th:text="${ingrediente.descrizione}">Salsa di Pomodoro per condire i primi</span>
	</div>
<footer><a href="/">Home</a></footer>
</body>
</html>