<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<link rel="stylesheet" href="/css/form.css"/>
	<title>Elenco Ingredienti</title>
</head>
<body>
	<div class="Data-Form">
		<h2>Elenco ingredienti:</h2>

		
			<span class="Box" th:each="ingrediente : ${ingredienti}">
			<div class="flex-container">
			<strong>Nome: </strong><span th:text="${ingrediente.nome}" >Salsa di Pomodoro</span>
			<p>
			<strong>Origine: </strong><span th:text="${ingrediente.origine}">Italia</span>
			<p>
			<strong>Descrizione: </strong><span th:text="${ingrediente.descrizione}">Salsa di pomodoro per condire i primi</span>
			 
			
			</div>
			<div class="Functions">
				<a href="ingrediente.html" th:href="@{'/ingrediente' + '/' + ${ingrediente.id}}">Dettagli</a>
				<a href="toDeleteIngrediente.html" th:href="@{'/toDeleteIngrediente' + '/' + ${ingrediente.id}}">Cancella</a>
		</div>		
			</span>
	
		<footer>
	<a href="/">Home</a>
	</footer>
			</div>
</body>
</html>