<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<title>Inserimento ingrediente</title>
</head>
<body>
<form th:action = "@{/ingrediente}" method="post" th:object="${ingrediente}">
	<div th:if="${#fields.hasGlobalErrors()}">
    <p th:each="err : ${#fields.globalErrors()}" th:text="${err}">Errore Globale</p> 
  </div>	
  
  <div>
  	<label for="piatto">Seleziona un piatto</label>
  	<select class="form-select" th:field="*{piatto}">
  	<option value="true" disabled>Seleziona...</option>
  	<option th:each="piatto : ${listaPiatti}" th:value="${piatto.id}" th:text="${piatto.nome}"></option>
  	</select>
  	<span th:if="${#fields.hasErrors('piatto.id')}" th:errors="*{piatto.id}"></span>
  </div>
  
  <div>nome:<input type="text" th:field="*{nome}"/>
	<div th:if = "${#fields.hasErrors('nome')}" th:errors = "*{nome}"></div>
	</div>
	<div>origine: <input type="text" th:field ="*{origine}"/>
		<div th:if = "${#fields.hasErrors('origine')}" th:errors = "*{origine}"></div>
	</div>
	<div>descrizione: <input type="text" th:field ="*{descrizione}"/>
		<div th:if = "${#fields.hasErrors('descrizione')}" th:errors = "*{descrizione}"></div>
	</div>
	<div><button type="submit">Conferma</div>
</form>
</body>
</html>