<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head><meta charset="UTF-8" />
<link rel="stylesheet" href="/css/form.css"/>
	<title>Login Form</title>
</head>
<body>
	<div class="Data-Form">
		<h2>Login</h2>
	
	<form th:action="@{/login}" method="POST">
		<div>
			<div>
				<span>Username:</span>
				<span><input name="username" type="text" required /></span>
			</div>		
			<div>
				<span>Password:</span>
				<span><input name="password" type="password" required /></span>
			</div>
			<div>
				<span><button type="submit">Login</button></span>
			</div>
		</form>
		<!-- Inizio Oauth-->
		<div class="OauthLogin">
				        	<p>Oppure entra con:</p>   
		        	<form class="d-inline" action="/oauth2/authorization/google" method="get">
		     			<button type="submit" class="btn btn-link btn-floating mx-1"> 
		        			
		        			<p>Google</p>
		      			</button>
					</form>
		
		     		<form class="d-inline" action="/oauth2/authorization/github" method="get">
		     			<button type="submit" class="btn btn-link btn-floating mx-1">
		        			
		      			<p>Github</p>
		      			</button>
		      			
		     		</form>
			</div>
		</div>
	
</body>
</html>