<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<link rel="stylesheet" href="/css/form.css"/>
	<title>Elenco dei piatti</title>
</head>
<body>
	<div class="Data-Form">
		<h2>Elenco dei Piatti:</h2>
		
			<span class="Box" th:each="piatto : ${piatti}">
			<div class="flex-container">
			<strong>Nome:</strong><span th:text="${piatto.nome}" >Pasta all'arrabbiata</span>
			<p>
			<strong>Descrizione:</strong><span th:text="${piatto.descrizione}" >Pennette al sugo con peperoncino e prezzemolo</span>
			</div>
			
			<div class="Functions">
				<a href="piatto.html" th:href="@{'/piatto' + '/' + ${piatto.id}}">Dettagli</a>
			<a href="toDeletePiatto.html" th:href="@{'/toDeletePiatto' + '/' + ${piatto.id}}">Cancella</a>
			</div>
			</span>		
	
	<footer>
	<a href="/">Home</a>
	</footer>	
	</div>
	
	
</body>
</html>