<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<link rel="stylesheet" href="/css/form.css"/>
	<title>Conferma Cancellazione</title>
</head>
<body>
<div class="Data-Form">
	<h2>Buffet da cancellare:</h2>
	<div>
		<span th:text="${buffet.nome}">Buffet di dolci</span>
		<span th:text="${buffet.descrizione}">Torte fredde, dolci al cucchiaio, frutta</span>
	</div>
	<div><a href = "buffet.html" th:href="@{'/deleteBuffet' + '/' +${buffet.id}}"
				th:text = "CONFERMA">CONFERMA</a>
	</div>
</body>
</html>